.posts{
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
     /* flex: 0.4; */
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed {
  flex: 0.4;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  background-color: #F5F8FA;;
  border-radius: 25px;
   margin-top: 15px;

}
