.card {
  /* border: 0.1rem red solid; */
  /* background-color:red; */
  border-radius: 0.5rem;
  margin: 1rem;

}
.card-body {
  padding: 1rem;
   /* border: 0.1rem red solid; */
    /* background-color:red; */
}
.card-body > * {
  margin-bottom: 0.5rem;
   /* border: 0.1rem red solid; */
    /* background-color:red; */
}
/*
.chatbox {
    background-color:red;
} */
.btn{
    border-radius: 25px;
}


.message {
    background-color: #013220;
    color: white;
}


.card {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
 display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
   flex: 1;
  padding: 10px;
    border: 1px solid var(--twitter-background);
}

.card-body{
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
  border-radius: 20px;
  border: 2px solid var(--twitter-background);
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__imageInput {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: #013220 !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

chatbox {
  color: #000000;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.chatbox ul {
  overflow: scroll;
  max-height: 20rem;
}
.chatbox li {
  margin-bottom: 1rem;
}
.chatbox input {
  width: calc(100% - 9rem);
}
